<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
</head>
<body>

<h2>Dashboard interactif</h2>

<div id="graph" style="width:100%;height:600px;"></div>


<script>
async function loadGraph() {
    const res = await fetch("/api/data");
    const json = await res.json();

    const data = json.data;

    console.log("DATA:", data);

    if (!data || data.length === 0) {
        console.error("Aucune donnée !");
        return;
    }

    const traces = {};

    data.forEach(d => {
        if (!traces[d.capteur]) {
            traces[d.capteur] = {
                x: [],
                y: [],
                mode: "lines",
                name: d.capteur,
                fill: "tozeroy",
                opacity: 0.3
            };
        }

        traces[d.capteur].x.push(d.time);
        traces[d.capteur].y.push(d.raw);
    });

    const plotData = Object.values(traces);

    console.log("TRACES:", plotData);

    Plotly.newPlot("graph", plotData, {
        title: "Capteurs",
        xaxis: {
            title: "Date / Heure",
            type: "date"
        },
        yaxis: {
            title: "Valeur"
        }
    });
}

loadGraph();
</script>

</body>
</html>